*{
  margin:0;padding:0;box-sizing:border-box;
}

body{
  font-family: 'Poppins', sans-serif;
}

.header{
width:100%;
height:100vh;
background:url("./assests/jeshoots-com-pUAM5hPaCRI-unsplash.jpg");
background-repeat:no-repeat;
background-size:100%;
background-position: center;
}

.navbar{
  width:100%;
  height:80px;
  position:fixed;
  top: 0;
  background: #1f2235;
  z-index: 1;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.navbar_container {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: space-between;
}
.navbar_left-logo{
  /* width: 100px; */
  color:white;
}
.navbar_right {
  display: flex;
  list-style-type: none;
  color: white;
  
}
.navbar_right li  {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  padding: 0 16px;
}
.row {
  display: flex;
  width: 100%;
}
.col-6 {
  width: 50%;
}
.header_content {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
  color: white;
}
.header_ul {
  list-style-type: none;
  display: flex;
  margin-bottom: 20px;
}
.header_ul li {
  width: 50px;
  height: 50px;
  border: 2px solid blue;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  margin: 0 6px;
}
.header_ul li a {
  color: white;
  align-items: center;
  justify-content: center;
  padding-top: 2px;
}
.header_ul li :first-child {
  margin-left: 0;
}
.header_section h1 {
  font-size: 57px;
  font-weight: 700;
  margin-bottom: 20px;
}
.header_section p {
  font-size: 20px;
  font-weight: 300;
  line-height: 40px;
  margin-bottom: 50px;
}
.btn {
  outline: none;
  border: none;
  color: white;
  padding: 12px 40px;
  text-decoration: none;
}
.btn-outline {
  border: 2px solid blue;
  border-radius: 50px;
}
.banner_img img {
  /* padding: 0 200px; */
  margin-top: 146px;
  margin-left: 320px;
  height: 80vh;
}
/*services*/
.services {
  background: #1f2235;
}
